@media screen and (max-width: 767px) {
    .hero-title {
        display: none;
    }
}

.hero-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 60px;
        line-height: 1.5;
        text-align: center;
        color: var(--primary-bg-color);
}

