.register-form {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 24px 16px;
    // margin-bottom: 24px;
    background-color: var(--primary-bg-color);

    @media screen and (min-width: 768px) {
        width: 440px;
        margin: 0 auto;
    }
} 

.register-form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.872727px;
    
    color: var(--primary-text-color);
    margin-bottom: 14px;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    width: 224px;
    height: 32px;
    padding: 8px 11px;

    border: 1px solid #E1E0E1;
    border-radius: 3px;
    // margin-right: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.454;
    letter-spacing: 0.8px;
    outline: none;

    @media screen and (min-width: 768px) {
        width: 334px;
    }
}