.register-btn {
    width: 94px;
    height: 32px;
    color: var(--primary-bg-color);
    background-color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 2;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;  
}

.burger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 16px;

    &-icon {
        width: 20px;
        height: 15px;
        fill: #FFFFFF;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .header-background:hover & {
        fill: var(--primary-text-color);
    }
    }

}

.search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-icon {
    width: 18px;
    height: 18px;
    stroke: var(--primary-bg-color);

    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-background:hover & {
        stroke: var(--primary-text-color);
    }
}

.close-menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 84px;
}

.close-menu-icon {
    width: 16px;
    height: 16px;
}

.go-back-btn {
    position: absolute;
    left: -5px;
    top: -2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 16px;
    padding: 0px;
}

.go-back-icon {
    width: 15px;
    height: 12px;
    transform: rotate(180deg);
}


