.search-form {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -164px;

    @media screen and (min-width:768px) {
        display: block;
        position: relative;
        margin-left: 0px;
        top: 0;
        left: 0;
    }
}

.search-form-field {
    width: 328px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.454;
    letter-spacing: 0.8px;
    background-color: rgba(247,247,247, 0.24);
    outline: none;
    border: transparent;
    border-radius: 3px;
    mix-blend-mode: normal;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: var(--primary-bg-color);

        .header-background:hover &,
        .header-background:focus & {
            color: var(--primary-text-color);
        }
    }

    @media screen and (min-width:999px) {
        width: 584px;
    }

    .header-background:hover &,
    .header-background:focus &{
        color: var(--primary-text-color);
        background-color: var(--secondary-bg-color);
        opacity: 1;
    }
}


.search-form-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-icon {
    position: absolute;
    top: 32px;
    right: 16px;
    width: 17px;
    height: 16px;
    stroke: var(--primary-bg-color);

    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-background:focus &,
    .header-background:hover & {
        stroke: var(--primary-text-color);
    }
}