.social-links-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;

  &-item:not(:last-child) {
    margin-right: 16px;
  }
}

.social-list-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}